.edit-page
  %h1.edit-header Editing product

  = render 'form'

  = link_to 'Show', category_product_path(category, product), class: 'btn btn-block btn-info'

  = link_to 'Back', category_path(category), class: 'btn btn-block btn-default btn-back'
